.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}
.title {
  color: blue;
  font-size: 3rem;
}
.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  padding-left: 0;
  list-style-type: "+";
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}
.unhide-btn {
  background-color: lightcyan;
  color: darkslateblue;
  font-style: bold;
}
.unhide-btn:hover + .hidden-li {
  opacity: 100;
}
.hidden-li {
  opacity: 0;
}
ul {
  list-style-type: "+";
  padding-right: 1rem;
}
li {
  padding-left: .5rem;
}
.site-title {
  font-size: 4rem;
  color: lightcyan;
  background-color: darkslateblue;
  padding: .5rem;
}




